<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="ModelContainer" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ATM;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="returnFaults" name="ATM.Core.Services.ATMService">
				<endpoint binding="basicHttpBinding" contract="ATM.Domain.Services.IATMService" />
				<endpoint binding="netTcpBinding" bindingConfiguration="InsecureTcp" contract="ATM.Domain.Services.IATMService" />
			</service>

			<service behaviorConfiguration="returnFaults" name="ATM.Core.Services.UsuarioService">
				<endpoint binding="basicHttpBinding" contract="ATM.Domain.Services.IUsuarioService" />
				<endpoint binding="netTcpBinding" bindingConfiguration="InsecureTcp" contract="ATM.Domain.Services.IUsuarioService" />
			</service>
		</services>
		<!--Default Bindings-->
		<bindings>
			<netTcpBinding>
				<binding name="InsecureTcp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="2000" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
					<readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
					<reliableSession ordered="false" inactivityTimeout="00:05:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="None" protectionLevel="None" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<!--Default Behaviors-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="returnFaults">
					<dataContractSerializer maxItemsInObjectGraph="99000000" />
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000" />
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" />
	</system.web>
</configuration>